<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict> <key>items</key> <array> <dict> <key>assets</key> <array> <dict> <key>kind</key> <string>software-package</string> <key>url</key> <!-- ПРЯМАЯ ССЫЛКА НА ВАШ IPA ФАЙЛ --> <string>https://media.githubusercontent.com/media/iTechnoVibe/iPvaelStore/main/Цифра банк 9.2.0.ipa</string> </dict> </array> <key>metadata</key> <dict> <key>bundle-identifier</key> <string>com.example.app</string> <key>bundle-version</key> <string>1.0</string> <key>kind</key> <string>software</string> <key>title</key> <!-- НАЗВАНИЕ ПРИЛОЖЕНИЯ ПРИ УСТАНОВКЕ --> <string>Точка Банк</string> </dict> </dict> </array> </dict> </plist>